doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Meeting
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/public/css/styles.css")
        script(src="https://rawgit.com/patriciogonzalezvivo/glslCanvas/master/dist/GlslCanvas.js")
    body(class="container")
        header
            h1 Meeting
        main
            div#welcome
                form#welcomeForm
                    input(id="room_name" class="form-control" placeholder="회의 ID 또는 개인 링크 이름", required, type="text")
                    input(id="name" class="form-control" placeholder="닉네임", required, type="text")
                    button(class="btn btn-primary d-grid gap-2 col-3 mx-auto") 회의 참가
            div#call
                div#myStream(class="row")
                    h1#recordText(style="color: red; display: none;") 기록중...
                    video#myFace(autoplay, playsinline, width="400", height="400" style="display: block;")
                    video#local-video(muted, autoplay style="display: none;")
                    canvas#canvas
                    button#mute(class="btn btn-primary d-grid gap-2 col-3 mx-auto") 마이크 끄기
                    button#camera(class="btn btn-primary d-grid gap-2 col-3 mx-auto") 카메라 끄기
                    button#record(class="btn btn-primary gap-2 col-3" style="display: block;") 녹화
                    button#download(class="btn btn-primary gap-2 col-3" style="display: none;") 녹화 중지 및 다운로드
                    button#captureScreen(class="btn btn-primary gap-2 col-3" style="display: block;") 화면 공유
                    button#stopCaptureScreen(class="btn btn-primary gap-2 col-3" style="display: none;") 화면 공유 중지
                    select.form-select(id="filter" class="gap-2 col-3 mx-auto" aria-label="비디오 필터")
                        option(value="none" selected data-shader="gl_FragColor = vec4(color, 1.0);") 없음
                        option(value="invert") 색상반전
                        //option(value="green") 초록
                div#peerFaceContainer
                div#message-container(class="overflow-auto p-3 bg-light" style="height: 500px;")
                form#msgForm(class="input-group mb-3")
                    input(class="form-control" type="text", placeholder="메세지 입력", required)
                    button(class="btn btn-outline-secondary") Send
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")
        script(src="/public/js/record.js")
style
    | .none {
    |     -webkit-filter: none;
    |     filter: none;
    | }

    | .green {
    |     -webkit-filter: blur(3px);
    |     filter: invert(34%) sepia(88%) saturate(468%) hue-rotate(61deg) brightness(99%) contrast(86%);
    | }

    | .invert {
    |     -webkit-filter: invert(1);
    |     filter: invert(1);
    | }